.RecipeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    min-height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  @media only screen and (orientation: landscape) {
    .RecipeList {
      background-size: 100%;
    }
  }

  @media only screen and (orientation: portrait) {
    .RecipeList {
      background-size: auto, 100%;
    }
  }