.RecipeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    min-height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }