.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: lightgray;
  padding-left: 20px;
  padding-right: 20px;
}

.RecipeAdderToggle {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  justify-content: left;
}

.CookingIcon {
  height: 40px;
  background-color: lightgray;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;

}

.UserNameLabel {
  flex-grow: 1;
  flex-basis: 0;
  text-align: right;
}

.UserIcon {
  height: 50px;
  background-color: lightgray;
  border-radius: 10px;
  cursor: pointer;
}

.recipeAdmin {
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  background-color: lightgray;
  
}














