.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.Tag {
  margin-right: 10px;
  display: inline-block;
  background-color: black;
  color: white;
  height: 18px;
  line-height: 12px;
}
.tagText {
  font-size: small;
}

.addRemove {
  display: inline-block;
  height: 18px;
  width: 18px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.Recipe {
  border: solid;
  border-width: thick;
  border-radius: 20px;
  max-width: 250px;
  padding: 10px;
  margin: 15px;
}

.RecipeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipeAdmin {
  display: flex;
  justify-content:space-evenly;
  
}

